<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='add_product/add_product.css') }}">
    <title>Create Product</title>
</head>
<body>

    <div class="container">
        <div class="details">
            <img id="backButton" src="{{ url_for('static', filename='add_product/images/sign-in.png') }}" alt="">
            <div class="explain">
                <h1>Create Product</h1>
                <p>Create your product and share your product to the world</p>
            </div>
            <form class="forms" action="{{ url_for('add_product') }}" method="POST" enctype="multipart/form-data">
                <div class="forms">
                    <b class="bor">Product image </b>
                    <div class="form">
                        <input class="form-2" type="file" name="product_image" accept="image/*" placeholder="Select product image">
                        <!-- <button id="btn-img">Select Image</button> -->
                    </div>
                </div>
                <div class="forms">
                    <b class="bor">Product Name</b>
                    <div class="form-a">
                        <input class="form-2" type="text" name="product_name" placeholder="Pick! a catchy product! name!">
                    </div>
                </div>
                <div class="forms">
                    <b class="bor">Price</b>
                    <div class="form-a">
                        
                        <input class="post form-2" type="number" name="product_price" placeholder="How much do you want to sell?">
                        
                    </div>
                </div>
                <div class="forms">
                    <b class="bor">Description</b>
                    <div class="form-a">
                        <input class="post form-2" type="text" name="product_desc" placeholder="Tell people about your product -- describe it">
                </div>
            <button class="last-btn" id="btn-img" value="submit">Publish</button>
        </form>
        </div>
    </div>
<script>
    document.getElementById("backButton").addEventListener('click', function(e) {
        window.history.back();
    })
</script>
</body>
</html>