<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gakudi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hello_world/hello_world.css' ) }}">
</head>
<body>
    <div class="white-bg">
        <div class="welcome">
            <img src="{{ url_for('static', filename='hello_world/images/Icon.png' ) }}" alt=""  class="cash">
            <h1 class="gakudi-1">Welcome to</h1>
            <h1 class="gakudi-2">Gakudi</h1>
            <p>A simple app designed to help you send! and receive! money!, plus an easy to setup store to host your products online!,
                all from the comfort of your mobile phone
            </p>
            <div class="grid-btn">
        <a href="{{ url_for('create_user') }}"><img src="{{ url_for('static', filename='hello_world/images/default.png' ) }}" class="create-btn"></a>
        <a href="{{ url_for('user_login') }}"><img src="{{ url_for('static', filename='hello_world/images/Outline.png' ) }}" class="create-btn"></a>
            </div>
            <div class="flex-btn">
                <a href="#"><img src="{{ url_for('static', filename='hello_world/images/English.png' ) }}" class="create-btn2"></a>
            <a href="#"><img src="{{ url_for('static', filename='hello_world/images/Hausa.png' ) }}" class="create-btn2"></a>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <p class="brand">Penny Wise</p>
        <p class="copyright"> copyright &copy;2022</p>
    </div>
</body>
</html>